# Ignore Python cache files
__pycache__/
*.pyc
math_solver.py

# Ignore environment folders
venv/
.env
google-cloud-sdk/
noteapp/

# Ignore any possible API keys
config.json
config.json
cloud-parser/*.json
